html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  font-size: 2em;
  color: red;
  background: black;
  width: 100%;
  height: 50%;
}

header h1 {
  /* as a block level element, will take entire width;
     therefore we need to center horizontally here */
  margin: 0;
  display: block;
  text-align: center; 
}

/* table cell aligning */
header.cell {
  display: table;
}
header.cell h1 {
  display: table-cell;
  vertical-align: middle;
}

/* flex aligning */
header.flex {
  display: flex;
  flex-direction: column; /* default for flexbox */
  justify-content: center; /* center items in the column */
}
header.flex h1 { }

/* transform aligning */
header.transform { }
header.transform h1 {
  position: relative;
  top: 50%; /* translate my top coordinate to 50% down the parent container */
  transform: translateY(-50%); /* move this element up 50% of its height */
  /* the two above rules together perfectly centre, no matter the height of the element! */
}
